/* .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #a4f7b6;
  }